h2 {
  /* color: #9f8ade; */
  text-align: center;
  margin-top: 50px;

}

button.delete {
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 600;
  margin-left: 10px;
  float: right;
  background-color: #222852;
  
}

.zebra {
    list-style: none;
    color:rgb(225,225,225);
   
  }

  .zebra li {padding: 20px;  }
  .zebra li:nth-child(odd) {background:#5b5a94; border-radius: 8px;}
  .zebra li:nth-child(even) {background:  #293153; border-radius: 8px;}